html,
body {
  margin: 0px;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

/* For 1440 width Screen */
@media (min-device-width: 426px) and (max-width: 2560px) {
  /* Adding Background Images */
  body {
    background-image: url(./Images/bg-pattern-top-desktop.svg),
      url(./Images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }

  /* Top Part Including Heading and StarReviews */
  .Top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 70px 25px 80px;
    padding: 50px 70px 25px 80px;
  }

  .Heading {
    font-weight: 400;
    color: hsl(300, 43%, 22%);
    padding: 0px 113px 0px 0px;
  }

  h1 {
    font-weight: 700;
    font-size: 50px;
    margin: 20px 1px 20px 1px;
  }

  .headtext {
    margin: 0;
  }

  .StarReviews {
    padding: 38px 0px 15px 0px;
    display: grid;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
  }

  .startext,
  .startext1 {
    margin: 0;
  }

  .Review1 {
    justify-self: start;
    align-self: start;
    background-color: hsl(300, 24%, 96%);
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 50px 250px;
    border-radius: 10px;
    padding: 20px 30px;
  }

  .Review2 {
    justify-self: center;
    align-self: center;
    background-color: hsl(300, 24%, 96%);
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 50px 250px;
    border-radius: 10px;
    padding: 20px 30px;
  }

  .Review3 {
    justify-self: end;
    align-self: end;
    background-color: hsl(300, 24%, 96%);
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 50px 250px;
    border-radius: 10px;
    padding: 20px 30px;
  }

  /* Bottom Part Including 3 User Review Divs */
  .Bottom {
    font-family: "Spartan", sans-serif;
    font-weight: 400;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 2em);
    column-gap: 50px;
    margin: 0px 147px 0px 170px;
  }

  .pic {
    justify-self: start;
    align-self: center;
    border-radius: 100%;
    width: 42px;
    padding: 0px 0px 5px 0px;
  }

  span {
    font-family: "Spartan", sans-serif;
    font-weight: 400;
    color: hsl(333, 80%, 67%);
  }

  h4 {
    font-weight: 400;
  }

  .Review4 {
    grid-column-start: 1;
    grid-row: 1/8;
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    margin: -10px;
    padding: 24px;
  }

  .Review5 {
    grid-column-start: 2;
    grid-row: 2/9;
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    margin: -10px;
    padding: 23px;
  }

  .Review6 {
    grid-column-start: 3;
    grid-row: 3/10;
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    margin: -10px;
    padding: 28px;
  }

  .username {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    padding: 0px 0px 5px 0px;
  }

  .text {
    font-weight: 400;
    font-size: 13.5px;
  }

  /* Footer Div */
  .attribution {
    text-align: center;
    margin: 25px 570px 25px 570px;
  }
}

/* For 375 width Screen */
@media only screen and (max-width: 425px) {
  /* Adding Background Images */
  body {
    background-image: url(./Images/bg-pattern-top-mobile.svg),
      url(./Images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }

  /* Top Part Including Heading and StarReviews */
  .Heading {
    font-weight: 400;
    color: hsl(300, 43%, 22%);
    display: grid;
    row-gap: 15px;
    text-align: center;
  }

  h1 {
    font-weight: 700;
    font-size: 30px;
    margin: 75px 64px 0px 64px;
  }

  .headtext {
    font-size: 15px;
    margin: 0px 19px 55px 19px;
  }

  .StarReviews {
    display: grid;
    grid-template-rows: repeat(3, 76px);
    row-gap: 15px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
  }

  .startext {
    margin: 7px 0px 0px -35px;
    grid-column: 1/10;
  }

  .startext1 {
    margin: 7px 0px 0px -55px;
    grid-column: 1/10;
  }

  .Review1 {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 25px);
    grid-template-rows: repeat(1, 20px);
    margin: 0px 19px 0px 19px;
    padding: 16px 0px 25px 105px;
  }

  .Review2 {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 25px);
    grid-template-rows: repeat(1, 20px);
    margin: 0px 19px 0px 19px;
    padding: 16px 0px 25px 105px;
  }

  .Review3 {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 25px);
    grid-template-rows: repeat(1, 20px);
    margin: 0px 19px 0px 19px;
    padding: 16px 0px 25px 105px;
  }

  /* Bottom Part Including 3 User Review Divs */
  .Bottom {
    font-weight: 400;
    color: white;
    display: grid;
    row-gap: 36px;
    margin: 63px 0px 0px 0px;
    padding: 0px 34px 0px 34px;
  }

  .pic {
    justify-self: start;
    align-self: center;
    border-radius: 100%;
    width: 42px;
    padding: 0px 0px 5px 0px;
  }

  span {
    font-family: "Spartan", sans-serif;
    font-weight: 400;
    color: hsl(333, 80%, 67%);
  }

  h4 {
    font-weight: 400;
    margin: 5px -20px 5px 10px;
  }

  .Review4 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    margin: -12px;
    padding: 24px;
  }

  .Review5 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    margin: -12px;
    padding: 23px;
  }

  .Review6 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    margin: -12px;
    padding: 27px;
  }

  .username {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    padding: 0px 0px 5px 0px;
  }

  .text {
    font-weight: 400;
    font-size: 13.5px;
  }

  /* Footer Div*/
  .attribution {
    text-align: center;
    margin: 50px 45px 0px 45px;
  }
}
